#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.container{
  position: relative;
  top:30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 30px;
  border: 2px solid orangered;
  border-radius: 5px;
  background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);}
small {
  position: relative;
  left: 350px;
  top: 25px;
  font-size: 15px;
}

h1{font-size: 30px;
  color: gray;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 28px;}

.city-name{padding: 10px 0px;
margin-left: 0;}


ul{margin: 0;
padding: 0;}

li{list-style-type: none;
   padding: 0;
   color: gray;}

.Temp-value{font-size: 50px;
  margin-left: 10px;
  padding-top: 0;
}
a{color:orangered;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;};

#gitHub-Link{text-decoration: none;
  color: orangered;}
#gitHub-Link:hover{cursor: pointer;
        color: blueviolet;}

.Active{color:black;
     cursor: default;};
.Active:hover {color:blueviolet;
            text-decoration: none;}



#Description{text-transform: capitalize;}
#search-city{padding: 5px 80px;
              font-family:monospace;
              font-weight: bolder;
              border-radius: 8px;
              border: 2px solid orangered;
              font-size: 25px;}
.weather-forecast{padding: 50px 10px 10px;
                  text-align: center;
                  color:black;
                  font-weight: 600;}
#Tue-Forecast-Icon{display: block;
                   margin: 0 auto;}
.forecast-temp-min{opacity: 0.5;}
#Humidity,
#Wind{color:orangered;
      font-weight: 500;}
