#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.container{
  position: relative;
  top:30px;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 30px;
  border: 2px solid #00204a;
  border-radius: 5px;
  border-style: dotted;
  background-color:#F76B8A;}
small {
  position: relative;
  left:250px;
  top: 25px;
  font-size: 20px;
  font-weight: bold;
}

h1{font-size: 30px;
  color:blanchedalmond;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 28px;}

.city-name{padding: 10px 0px;
margin-left: 0;}


ul{margin: 0;
padding: 0;}

li{list-style-type: none;
   padding: 0;
   color: blanchedalmond;}

.Temp-value{font-size: 50px;
  margin-left: 10px;
  padding-top: 0px;
}
a{color:gold;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;};

#gitHub-Link{text-decoration: none;
  color: blueviolet;}
#gitHub-Link:hover{cursor: pointer;
        color: red;}

.Active{color:black;
     cursor: default;};
.Active:hover {color:blueviolet;
            text-decoration: none;}



#Description{text-transform: capitalize;}
#search-city{padding: 0px 150px;
              font-family:monospace;
              font-weight: bolder;
              border-radius: 8px;
              border: 2px solid black;
              font-size: 25px;}
.weather-forecast{padding: 50px 10px 10px;
                  text-align: center;
                  color:black;
                  font-weight: 600;}
#Tue-Forecast-Icon{display: block;
                   margin: 0 auto;}
.forecast-temp-min{opacity: 0.5;}
#Humidity,
#Wind{color:black;
      font-weight: 500;};



